<html>
<head>
<title>Cr Guide</title>
<style></style>
{% block extra_css %}{% endblock %}
</head>
<body>
<div id="header"></div>
{% block content %}
{% endblock %}
<script></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type='text/javascript' src='http://code.jquery.com/ui/1.10.3/jquery-ui.min.js'></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
{% block extra_js %}
{% endblock %}
<div id="footer"></div>
</body>
</html>